<br />
<br />
<div class="example-button-container">
  <button
    mat-fab
    color="warn"
    aria-label="Example icon button with a home icon"
  >
    <a [routerLink]="'/home'" style="color: white"><mat-icon>home</mat-icon></a>
  </button>
  <br /><br />
</div>
<div>
  <mat-card style="padding: 10px">
    <mat-list role="list" *ngFor="let question of questions">
      <img src="../assets/img/think.jpg" style="width: 110px" />

      <mat-list-item role="listitem"
        ><b>{{ question.question }}</b></mat-list-item
      >

      <mat-selection-list [multiple]="false">
        <div *ngFor="let option of question.options">
          <mat-list-option (click)="CheckAnswer(option.optionId, question.questionId)">
            <span>{{
              option.text
            }}</span>
          </mat-list-option>
        </div>
      </mat-selection-list>
      <hr />
    </mat-list>
    <br />
  </mat-card>
</div>
